# Spoxy Environment Variables Configuration

# The port the Spoxy API server will listen on (default is 8080)
PORT=8080

# (Optional) HTTP/HTTPS proxy to use for Spotify requests
SPOXY_PROXY_URL=http://user:pass@proxy.example.com:8080

# (Optional) Redis connection URL for caching tracks and playlists metadata
# If empty, no caching mechanism is used
SPOXY_REDIS_URL=redis://localhost:6379/0
